<div class="account-wrapper" style="margin-top:3rem;">
  <div class="account-body col-md-10 col-md-offset-1">
    <h3>Student Tracker</h3>
    <h5>Please sign in.</h5>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal form-user col-md-10 col-md-offset-1"}) do |f| %>
      <div class="form-group">
        <%= f.email_field :email, class: "text-field form-control", html: {spellcheck: "false"}, placeholder:"Email" %>
      </div> <!-- /.form-group -->

      <div class="form-group">
        <%= f.password_field :password, class: "text-field form-control", html: {autocomplete: "off"}, placeholder:"Password" %>
      </div> <!-- /.form-group -->
  <% if devise_mapping.rememberable? -%>
      <div class="form-group clearfix">
        <div class="pull-left">
          <label class="checkbox-inline">
          <%= f.check_box :remember_me %><small>Remember me</small>
          </label>
        </div>
        <div class="pull-right">
          <small><a href="./account-forgot.html">Forgot Password?</a></small>
        </div>
      </div> <!-- /.form-group -->
      <% end %>
      <div class="form-group">
        <%= f.submit "Login", class: "btn btn-primary btn-block btn-lg" do %>
          Signin &nbsp; <i class="fa fa-play-circle"></i>
        <% end %>
      </div> <!-- /.form-group -->
    <% end %>
  </div> <!-- /.account-body -->
</div> <!-- /.account-wrapper -->
