<div class="col-md-9 layout-main">
  <%- model_class = Course -%>
<div class="page-header">
  <h1>Courses</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th>Program</th>
      <th><%= model_class.human_attribute_name(:cost) %></th>
      <th>Program</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.id %></td>
        <td><%= link_to course.title, course_path(course) %></td>
        <td><%= Program.find(course.program_id).title %></td>
        <td><%= course.cost %></td>
        <td><%=l course.created_at, format: :long %></td>
        <td>
          <%= link_to course_path(course), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
          <i class="fa fa-eye"></i>
          <%- end -%>
          <%= link_to edit_course_path(course) do %>
          <i class="fa fa-pencil"></i>
          <% end %>
          <%= link_to course_path(course), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <i class="fa fa-trash-o"></i>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_course_path,
            :class => 'btn btn-primary' %>
</div>
